# Dependencies
node_modules/
package-lock.json

# Production / Build
dist/
build/
.next/
out/
.vercel/

# Environment Variables
.env
.env.local
.env.development
.env.production

# Databases
*.db
*.sqlite
*.sqlite3
essence_salon.db

# Logs
logs
*.log
npm-debug.log*

# OS Files
.DS_Store
Thumbs.db

# Editor / IDE
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln

# Backup and Archive
*.zip
*.tar
*.tar.gz
